<!-- begin post -->
{{ $page := . }}
{{ $isFirst := false }}
{{ if reflect.IsMap . }}
    {{ $page = .Page }}
    {{ $isFirst = .isFirst | default false }}
{{ end }}
<div class="mb-30px card-group d-none d-md-block">
    <div class="card side">
        <div class="row">
            <div class="col-lg-8">
                <a href="{{ $page.Permalink }}">
                    {{$images := $page.Resources.ByType "image"}}
                    {{with $images.GetMatch "*cover*" }}
                        {{$coverThumb := .Resize "x290 webp" }}
                        {{ if $isFirst }}
                        <img class="img-fluid" src="{{ $coverThumb.Permalink }}" alt="A thumbnail image" fetchpriority="high">
                        {{ else }}
                        <img class="img-fluid" src="{{ $coverThumb.Permalink }}" alt="A thumbnail image" loading="lazy">
                        {{ end }}
                    {{end}}
                </a>
            </div>
            <div class="col-lg-4">
                {{- partial "list-partials/_card_body.html" $page -}}
                {{- partial "list-partials/_card_footer.html" $page -}}
            </div>
        </div>
    </div>
</div>
<div class="d-block d-md-none">
{{ partial "list-partials/postbox.html" $page }}
</div>
<!-- end post -->
